# API (no secrets)
NEXT_PUBLIC_FINLENS_API_URL=https://xaq0zzwnv7.execute-api.eu-west-1.amazonaws.com

# Cognito public client identifiers only (not secrets)
NEXT_PUBLIC_COGNITO_USER_POOL_ID=eu-west-1_8yJv9ul6G
NEXT_PUBLIC_COGNITO_CLIENT_ID=306iqv4ugg8jn07pc2jvsle1tc
NEXT_PUBLIC_COGNITO_DOMAIN=eu-west-18yjv9ul6g
NEXT_PUBLIC_COGNITO_REGION=eu-west-1
