# Dependencies
node_modules/
.pnpm-store/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Build
dist/
build/
cdk.out/
.next/
out/
public/

# Env & secrets
.env
.env.*

# IDE / OS
.idea/
.vscode/
.DS_Store

# Test / cache
coverage/
.pytest_cache/
.turbo/
